@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  font-family: sans-serif;
  color: white;
}

@layer utilities {
  .btn-red {
    @apply bg-netflixred py-3 my-6 rounded-md font-bold;
  }

  .subscribe__btn {
    @apply bg-netflixred font-bold p-3 rounded-md;
  }
}
